
/////////////////////////////////////////
// LAYOUT FORMATTING
/////////////////////////////////////////

//Master object
#app {
  height: 98vh;
}

.container {
  height: 100%;
}

.header {
  align-content: center;
  height: 15%;
  overflow-y: auto;

  .logo {
    display: block;
    margin: 0 auto;
  }
}

.home {
  height: 85%;
}

#twitch-embed {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

