
// Variables
@headerColor: #139E80;

/////////////////////////////////////////
// LAYOUT FORMATTING
/////////////////////////////////////////

//Master object
#app {
  height: 100vh;
}

.container {
  height: 100%;
}

.home {
  height: 100%;
}

#twitch-embed {
  height: 100%;
  width: 100%;
}

